/* Column and Row Structure */

* {
    box-sizing: border-box;
}

.col-1 {

  width: 8.33%;
  flex-grow: 1;

}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {
  width: 33.33%;
  flex-grow: 4;
}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 35px;
    border: 1px solid red;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: stretch;
    background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: auto;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
